<div style="display: grid;place-items:center;height:500px;">
    <div style="display: grid;place-items:center;">
        <h3>Your Order was placed successfully</h3>
        <a class="btn btn-primary btn-order-placed" href="/view-orders">
            View Orders
        </a>
    </div>
</div>
<style>
    a.btn-order-placed{
        margin-top: 20px;
        padding:10px 30px;
        background-color:#FFC229;
        color: #fff;
        border:none;
        transition: 0.3s;
    }
    a.btn-order-placed:hover{
        margin-top: 20px;
        padding:10px 30px;
        color:#FFC229;
        background-color: #fff;
        border:1px solid #000;
    }
</style>